/* Copyright IBM Corp. 2014 All Rights Reserved                      */

/* NOTE: Need to explicitly set height of all 
   parent elements of the Leaflet container in order 
   to make Leaflet map responsive. 
*/

/************************************/
/*       Overall html, body         */       
/************************************/
html, body {
	height: 100%;
	background-color: #E1D8B7;
}

html, body, h1, h2, h3, h4, h5, h6 {
	color: #23250e;
}

/************************************/
/*        Where App Styles          */       
/************************************/
.whereMain {
    height: 100%;
}

.whereMainRow {
	height: calc(100% - 200px);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.whereMainRow {
		height: calc(100% - 80px);
	}
}

.leafletContainer {
    height: 100%;
    min-height: 200px;
    margin-bottom: 15px;
}

.leaflet {
	height: 100%;
}

.whereAmI,
.whereCanIGo {	
	/* Doesn't seem like this should be necessary, but these
		divs seem to get covered up by the whereHaveOthersBeen
		div in small device widths. */
	z-index: 100000;
}

/* There might be a better way to do this, but 
	there's a break point where whereAmI and
	whereCanIGo no longer can fit on the same
	line, and it makes sense to have them fill
	up the whole space. */
@media (max-width: 630px) { 
	.whereAmI,
	.whereCanIGo {
		width: 100%;
	}
}

.whereAmIInner {
	min-height: 125px;
}

.whereAmI fieldset {
	height: 100%;
}

.whereAmI h5 {
	margin-bottom: 3px;
}

.whereAmICoordinates {
	margin-top:10px;
}

.whereAmI address {
	margin-bottom: 0px;
}

.whereAmI address span {
	display: block;
}

.whereAmI .btn {
	margin-top: 10px;
	float: bottom;
}

.whereCanIGo {
	min-width: 210px;
}

.whereCanIGo legend {
	white-space: nowrap;
}

.whereCanIGoForm {
	margin-top: 10px;
}

.whereHaveOthersBeenInner,
.whereIsMostPopularInner {
	min-height: 150px;
}

.whereHaveOthersBeen {
	min-width: 380px;
}

.whereHaveOthersBeenInner table,
.whereIsMostPopular table {
	margin-top: 5px;
	margin-bottom: 0px;
}

.whereControlPaddingRight {
	padding-right: 2px;
}

.whereControlPaddingLeft {
	padding-left: 2px;
}

.whereState {
	display: block;
}

.whereChartArea {
	min-width: 500px;
}

.whereChartArea > h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.whereChartArea > h3 > small {
	font-weight: 500;
}

/************************************/
/*       Bootstrap Overrides        */       
/************************************/
.navbar {
	margin-bottom: 15px;
	background: none;
	border-radius: 0px;
}

.navbar-inverse {
	border: none;
	border-bottom: 1px solid #AEA79F;
}

.navbar-inverse .navbar-collapse {
	border-color: #AEA79F;
	margin-right: 2px;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus {
	background: none;
	border-color: #AEA79F;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: rgba(125, 17, 12, 0.8);
	border-color: #AEA79F;
}

.navbar-inverse .navbar-nav>li>a {
	color: #23250e;
}

.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {
	background-color: rgba(125, 17, 12, 0.7);
}

.navbar-toggle {
	margin-top: 18px;
}

.nav-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav-brand > h1 {
	margin-top: 0px;
	margin-bottom: 5px;
	margin-right: 15px;
	display: inline-block;
}

.nav-brand > h1 > img {
	width: 32px;
	height: 32px;
}

.nav-brand > h1 > a {
	margin-right: 10px;
}

.nav-brand > h1 > span {
	vertical-align: middle;
}

.navbar-nav li a,
.navbar-text {
	line-height: 40px;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
	color: #ffffff;
	background-color: rgba(125, 17, 12, 1);
}

.container>.navbar-header, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container-fluid>.navbar-collapse {
	margin-left: 0px;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: center;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    margin-bottom: 5px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	border: none;
}

.table>thead>tr>th {
	font-style: italic;
	font-weight: normal;
	border-bottom: 1px solid #AEA79F;
}

.table-responsive {
	border: none;
}

.table>thead>tr>th {
    vertical-align: top;
}

@media screen and (max-width: 767px) {
	.table-responsive>.table>thead>tr>th, 
	.table-responsive>.table>tbody>tr>th, 
	.table-responsive>.table>tfoot>tr>th, 
	.table-responsive>.table>thead>tr>td, 
	.table-responsive>.table>tbody>tr>td, 
	.table-responsive>.table>tfoot>tr>td {
		white-space: normal;
	}
}

.footer {
	background-color: #7D110C;
	color: white;
	margin-bottom: 0px;
	min-height: 60px;
	padding: 10px 30px;	
}

.footer .right {
	float:right;
}

@media screen and (max-width: 625px) {
	.footer .right {
		display: none;
	}
}

.footer a {
	color: #f8e5bd;
}

.footer a:visited {
	color: #AEA79F;
}

.footer a:hover {
	color: #E1D8B7;
}

/**********************************************************************************************/
/* Button Overrides (from http://twitterbootstrap3buttons.w3masters.nl/?color=%237D110C )     */
/**********************************************************************************************/
.btn-custom {
	background-color: #7D110C;
	border-color: #7D110C;
	color: #FFFFFF;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
	background-color: #660e0a;
	border-color: #4e0b08;
	color: #FFFFFF;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
	background-color: #7D110C;
	border-color: #7D110C;
	color: #FFFFFF;
}
