<!-- Copyright IBM Corp. 2014 All Rights Reserved -->

<div class="row">
	<div class="footer container col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<p class="right"><strong>Backend:</strong> 
			<a target="_blank" href="http://nodejs.org/">Node</a>, 
			<a target="_blank" href="http://expressjs.com/">Express</a>,
			<a target="_blank" href="http://www.pb.com">Pitney Bowes</a>,
			<a target="_blank" href="https://cloudant.com/">Cloudant</a>
		</p>
		<p><strong>Runs on:</strong> <a target="_blank" href="https://www.bluemix.net">IBM Bluemix</a>  
				<strong>Code on:</strong> <a target="_blank" href="https://github.com/aerwin/bluemix-where">Github</a></p>
		<p class="right"><strong>Frontend:</strong> 
			<a target="_blank" href="https://angularjs.org/">AngularJS</a>, 
			<a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>, 
			<a target="_blank" href="http://leafletjs.com/">Leaflet.js</a>, 
			<a target="_blank" href="http://n3-charts.github.io/line-chart/">n3-charts</a>,
			etc.
		</p>
		<p><strong>Pebble App:</strong>
			<a target="_blank" href="pebble://appstore/545e9082a9ec3be830000006">mobile link</a> 
			(or <a target="_blank" href="https://apps.getpebble.com/applications/545e9082a9ec3be830000006">desktop</a>)</p>
		<p><strong>IBM DeveloperWorks:</strong>
			<a target="_blank" href="http://www.ibm.com/developerworks/library/mo-pebble-where-app/index.html"><em>Build a Where? App</em></em></a></p>
	</div>
</div>