<!-- Copyright IBM Corp. 2014 All Rights Reserved -->

<div class="row whereMainRow">
	<div class="col-md-12 whereMainRowInner">	
		<!-- Header -->
		<div class="page-header col-md-12">
  			<h1><img src="/images/bluemixGlobeColor32.png" / alt="Where? Logo"><span>Where?</span></h1>
  			<h3><small>IBM Bluemix-powered demo helping to answer the "where" questions of life.</small></h3>
		</div>

		<!-- The Leaflet Map -->
		<div class="leafletContainer col-md-8">
			<leaflet class="leaflet" markers="markers" center="mapCenter" tiles="tiles" geojson="geojson"></leaflet>
		</div>
		
		<!-- Where Am I? -->
		<div class="col-md-4">
			<fieldset class="scheduler-border whereAmI">
				<legend class="scheduler-border">Where Am I?</legend>

				<div class="whereAmIInner">
				
					<!-- Let's make a nice place to put any error/warning conditions. -->
					<div class="col-md-12" ng-visible="whereAmIAlerts.length">
						 <alert ng-repeat="alert in whereAmIAlerts" type="{{alert.type}}">{{alert.msg}}</alert>
		  			</div>
				
					<div ng-show="currentCoordinates" class="whereAmICoordinates">
						<h5>Geolocation</h5>
						<span>{{currentCoordinates.latitude | number : 6}}, {{currentCoordinates.longitude | number : 6}}
					</div> 
					
					<div ng-show="currentLocation.address">
						<h5>Nearest Address ({{currentLocation.address.Distance}} feet)</h5>
						<address>
							<span ng-show="currentLocation.address.AddressLine1">{{currentLocation.address.AddressLine1}}</span>
							<span ng-show="currentLocation.address.AddressLine2">{{currentLocation.address.AddressLine2}}</span>
							<span ng-show="currentLocation.address.LastLine">{{currentLocation.address.LastLine}}</span>
							<span ng-show="currentLocation.address.Country">{{currentLocation.address.Country}}</span>
						</address>
					</div>
				</div>
				
				<button type="button" class="btn btn-custom btn-large center-block" 
					ng-click="handleWhereAmI()" ng-disabled="!currentCoordinates">Update Location</button>
				
				<!-- Spinner for Where Am I? -->
				<span us-spinner spinner-key="whereAmI-spinner"></span>
			</fieldset>
		</div>
			
		<!-- Where Can I Go? -->
		<div class="col-md-4">
			<fieldset class="scheduler-border" ng-disabled="!currentLocation.id || spinningSpinners['whereCanIGo-spinner']">
				<legend class="scheduler-border">Where Can I Go?</legend>
				
				<!-- Let's make a nice place to put any error/warning conditions. -->
				<div class="col-md-12" ng-visible="whereCanIGoAlerts.length">
					 <alert ng-repeat="alert in whereCanIGoAlerts" type="{{alert.type}}">{{alert.msg}}</alert>
	  			</div>
		  			
		  		<!-- Form area to specify "cost" to use when retrieving boundary. -->
				<form class="form-horizontal whereCanIGoForm" role="form">
  					<div class="form-group">
						<label class="col-sm-1 control-label input-sm">Cost:</label>
						<div class="col-sm-11">
							<div class="col-sm-5"> 
								<input type="number" class="form-control input-sm"
								      ng-model="boundaryCost" min="1" max="100" required="true"/>
							</div>
							
							<div class="col-sm-7"> 
				  				<select ng-model="boundaryUnits" class="form-control input-sm"> 
				  					<option value="Minutes">Minutes</option>
				  					<option value="Miles">Miles</option>
				  				</select>
				  			</div>
			  			</div>
			  		</div>
	  			
		  			<div class="control-group">
						<button type="button" class="btn btn-custom btn-large center-block" ng-click="handleWhereCanIGo()">
							Find Out!
						</button>
					</div>
				</form>
			</fieldset>
			
			<!-- Spinner for where can I go? -->
			<span us-spinner spinner-key="whereCanIGo-spinner"></span>
		</div>
	
		<!-- Where Have Others Been? -->
		<div class="col-md-4">
			<fieldset class="scheduler-border whereHaveOthersBeen">
				<legend class="scheduler-border">Where Have Others Been?</legend>
				<div class="whereHaveOthersBeenInner">
					<div class="table-responsive">
						<table class="table">
							<tr data-ng-repeat="element in locationSummary">
								<td>{{$index + 1}}</td>
								<td class="text-capitalize">{{element.key[2]}}</td>
								<td>{{element.key[1]}}</td>
								<td>{{element.key[0] | transformCountry }}</td>
								<td class="text-center">{{element.value}}</td>
							</tr>
						</table>
					</div>
				</div>
				<!-- Spinner for Where Have Others Been? -->
				<span us-spinner spinner-key="whereHaveOthersBeen-spinner"></span>
			</fieldset>
		</div>
		
		<!-- AWE TODO: Finish this later
		<div class="footer col-md-12">
			<div class="container">
				<p class="text-muted">Client side built with: Angular, Bootstrap, Leaflet, etc.</p>
				<p class="text-muted">Server side built with: Node, Express, Passport, etc.</p>
			</div>
		</div>
		-->
	
	</div>
</div>



